body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    padding: 20px;
}
#mainContainer {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}
#jjjumbotron {
    background: black;
    text-align: center;
    color: white;
}
#scheduleDiv {
    text-align: center;
    width: 100%;
    float: center;
}
#card1Header {
    background: rgb(0, 0, 0); 
    color: white;
    text-align: left;
}
#card2Header {
    background: rgb(0, 0, 0); 
    color: white;
    text-align: left;
}
#formDiv {
    text-align: left;
}
.form-group {
    padding-left: 20px;
    padding-right: 20px;
}
